nav(style="margin-bottom:0;").navbar.navbar-default
    .container-fluid
        .navbar-header
            button(type="button"
                   data-toggle="collapse"
                   data-target="#navbar"
                   aria-expanded="false"
                   aria-controls="navbar").navbar-toggle.collapsed
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
        #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav
                each sponsor in sponsors
                    li
                        a(href=sponsor[0], target="_blank")= sponsor[1]